Inventory Dashboard
<p-toolbar styleClass="bg-gray-900 shadow-2">
  <div class="p-toolbar-group-start gap-1">
    <p-button routerLink="home"
              routerLinkActive="active-link"
              label="Inventory Dashboard" />
    <p-button routerLink="stock-entry"
              routerLinkActive="active-link"
              label="Stock Entry" />
    <p-button routerLink="products"
              routerLinkActive="active-link"
              label="Products" />
    <p-button routerLink="categories"
              routerLinkActive="active-link"
              label="Categories" />
  </div>
</p-toolbar>
<router-outlet></router-outlet>