<div class="layout-topbar">
    <div class="topbar-start">
        <button #menubutton
                type="button"
                class="topbar-menubutton p-link p-trigger transition-duration-300"
                (click)="onMenuButtonClick()">
            <i class="pi pi-bars"></i>
        </button>
    </div>
    <div class="layout-topbar-menu-section">
        <app-sidebar></app-sidebar>
    </div>
    @if ({
    status: authService.authStatus$ | async,
    user: authService.currentUser$ | async
    }; as auth) {
    @if (auth?.status?.isAuthenticated) {
    <div class="topbar-end">
        <ul class="topbar-menu">
            <li [class]="layoutService.isHorizontal() ? 'topbar-search hidden' : 'topbar-search hidden sm:block'">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="text"
                           pInputText
                           placeholder="Search"
                           class="w-12rem sm:w-full" />
                </span>
            </li>
            <li class="topbar-item">
                <a pStyleClass="@next"
                   enterFromClass="ng-hidden"
                   enterActiveClass="px-scalein"
                   leaveToClass="ng-hidden"
                   leaveActiveClass="px-fadeout"
                   [hideOnOutsideClick]="true"
                   pRipple
                   class="cursor-pointer">
                    <i class="pi pi-user"></i>
                </a>
                <ul [class]="'topbar-menu active-topbar-menu p-4 w-15rem   z-5 ng-hidden'">
                    <li role="menuitem"
                        class="m-0 mb-3">
                        <a href="#"
                           routerLink="/user/profile"
                           class="flex align-items-center hover:text-primary-500 transition-duration-200"
                           pStyleClass="@grandparent"
                           enterFromClass="ng-hidden"
                           enterActiveClass="px-scalein"
                           leaveToClass="ng-hidden"
                           leaveActiveClass="px-fadeout">
                            <i class="pi pi-fw pi-lock mr-2"></i>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li role="menuitem"
                        class="m-0">
                        <a href="#"
                           class="flex align-items-center hover:text-primary-500 transition-duration-200"
                           pStyleClass="@grandparent"
                           enterFromClass="ng-hidden"
                           enterActiveClass="px-scalein"
                           leaveToClass="ng-hidden"
                           leaveActiveClass="px-fadeout"
                           routerLink="/user/logout">
                            <i class="pi pi-fw pi-sign-out mr-2"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    }
    }
</div>