<!-- <div class="flex flex-column align-content-center align-items-center justify-content-center">
  <p class="text-5xl">Hello, Liumoncu!</p>
  <a class="p-button"
     routerLink="/manager"
     (click)="login()"> Login as manager </a>
</div> -->

@if((authService.authStatus$ | async)?.isAuthenticated) {
<div>
  <div class="text-lg">
    This is Active Shop! The place where
  </div>
  <div class="text-lg">
    You get a lemon, youe get a lemon, you get a lemon...
  </div>
  <div class="text-lg">
    Everybody gets lemon.
  </div>
</div>
} @else {
<app-login class="flex align-items-center justify-content-center"></app-login>
}